<% if type == 'new' %>
    <% action_url = sub_posts_url(@post.sub_id) %>
    <% button_text = 'New Post' %>
<% else %>
    <% action_url = post_url(@post) %>
    <% button_text = 'Edit Post' %>
<% end %>
<div>
    <form>
        
    </form>
</div>