
<% if current_user.follows?(user) %>
  <%  button_text = 'unfollow'%>
  <% state = 'followed'%>
<% else %>
  <% button_text = 'follow'%>
  <% state = 'unfollowed'%>
<% end%>

<button data-id="<%= user.id%>" data-state="<%=state%>" class="follow-toggle"></button>