/* PHASE 0: Sidebar */
.profile-picture {
    display: block;
    margin-top: -75px;
    position: relative;
}

.profile-info h2{
    font-weight: bolder;
    font-size: 20px;
    padding: 20px 0;
}

.profile-info {
    padding: 10px 0;
}

.profile-nav {
    font-size: 14px;
    font-weight: bold;
}

.profile-nav ul li {
    border-top: 1px solid lightgray;
    padding: 5px 0;
}

.profile-nav ul:last-child {
    border-bottom: 1px solid lightgray;
}


