/* PHASE 1: Online */

.profile-picture {
    overflow: hidden;
}
.online {
    position: absolute;
    top: -20px;
    left: -25px;
    width: 100%;
    display: block;
    text-align: center;
    background-color: rgb(114, 218, 44);
    color: white;
    transform: rotate(-45deg) translateX(-25%);
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px black;
}