.main-nav {
  display:flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      background-color: $lightest-gray;
      font-family: $sans-serif;
      font-size: 14px;
      margin-left: 20px;
    }
  }

  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.right-nav  {

  > ul {
  
    > li {
      margin-left: 5px;
      cursor: pointer;
    }

    > li:last-of-type {
      position: relative;
    }
  }
  
  i {
    font-size: 16px;
  }

  #gear:hover .gear-dropdown{
    display: block;
  }

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $lightest-gray;
}
